<div class="login-page">
  <md-card class="login-panel">
    <div
      class="spinner-container"
      *ngIf="isFetching">
      <md-spinner class="spinner"></md-spinner>
    </div>
    <md-card-title>
      Login
    </md-card-title>
    <md-card-content>
      <md-input-container class="full-width">
        <input
          mdInput
          placeholder="Username"
          [(ngModel)]="username">
      </md-input-container>
      <md-input-container class="full-width">
        <input
          type="password"
          mdInput
          placeholder="Password"
          [(ngModel)]="password">
      </md-input-container>
    </md-card-content>
    <div class="error-message">{{errorMessage}}</div>
    <md-card-actions class="text-right">
      <button
        md-raised-button
        color="primary"
        (click)="login(username, password)">Submit</button>
    </md-card-actions>
  </md-card>
</div>
