/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.full-width {
  width: 100%;
}

.text-right {
  text-align: right;
}

.error-message {
  color: #cc0000;
}

.spinner-container {
  background: rgba(0,0,0,0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.spinner {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}