<div
  class="spinner-container"
  *ngIf="isFetching">
  <md-spinner class="spinner"></md-spinner>
</div>
<button
  md-raised-button
  color="primary"
  (click)="checkToken()">
  Check token
</button>
<button
  md-raised-button
  color="primary"
  (click)="showRandom()">
  Show random
</button>